@font-face {
  font-family: 'Roboto Thin';
  src: url('./fonts/Roboto/Thin/Roboto-Thin.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Roboto/Thin/Roboto-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Roboto/Thin/Roboto-Thin.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Roboto/Thin/Roboto-Thin-clean.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/Roboto/Thin/Roboto-Thin.svg#e6a7f8a2f42cc35979973da8dfb10720') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('./fonts/Roboto/Light/Roboto-Light.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Roboto/Light/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Roboto/Light/Roboto-Light.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Roboto/Light/Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/Roboto/Light/Roboto-Light.svg#14cfc794995ce651ee6fc06de48ff027') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('./fonts/Roboto/Bold/Roboto-Bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Roboto/Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Roboto/Bold/Roboto-Bold.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Roboto/Bold/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/Roboto/Bold/Roboto-Bold.svg#b49e654214c0ade376e714f6d9c78d72') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 300px;
  padding-top: 100px;
  margin: 0;
}

#container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.heading {
  margin: 0 auto;
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
  position: relative;
  margin-bottom: 65px;
  letter-spacing: 1px;
  font-size: 20px;
}

.heading:after {
  content: '';
  width: 32px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  margin-left: -16px;
  bottom: -25px;
}

.poster {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  max-width: 920px;
  height: 100%;
  margin: 0 auto;
  border: 9px solid black;
  box-shadow:
    inset 4px 10px 7px rgba(0,0,0,0.6),
    3px 8px 5px rgba(0,0,0,0.5);
  -moz-box-shadow:
    inset 4px 10px 7px rgba(0,0,0,0.6),
    3px 8px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow:
    inset 4px 10px 7px rgba(0,0,0,0.6),
    3px 8px 5px rgba(0,0,0,0.5);
}

.poster_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster_container > img {
  margin-right: 30px;
  width: auto;
}

.poster_heading {
  font-family: 'Roboto Thin';
  font-size: 64px;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 30px;
  line-height: 1;
}

.poster_info {
  font-family: 'Roboto Light';
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.5px;
}

.poster_info > p {
  max-width: 274px;
  border: 1px solid black;
  padding: 10px;
}

.poster > img {
  max-width: 590px;
  width: 100%;
  position: relative;
  display: block;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto Light';
  margin-top: 55px;
}

.about > p {
  margin: 0;
  font-size: 14px;
  width: 33%;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
  margin-top: 45px;
}

.social > a > div {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}

.social > a:first-of-type {
  margin-right: 40px;
}

.social > a > div > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  display: block;
  max-width: 22px;
}

.text {
  font-family: 'Forum';
  font-size: 36px;
  margin-bottom: 60px;
  line-height: 0.9;
  letter-spacing: 1px;
}

.group_2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}


.left_col {
  border-right: 1px solid black;
  height: 100%;
  margin-right: 20px;
  margin-top: 70px;
  max-width: 480px;
  width: 100%;
  text-align: right;
}

.left_col > p {
  font-family: 'Roboto Light';
  font-size: 18px;
  line-height: 1.7;
  margin-right: 20px;
  max-width: 435px;
  float: right;
  margin-bottom: 15px;
}

.right_col {
  width: 100%;
  max-width: 760px;
}

img {
  display: block;
  width: 100%;
  position: relative;
}

.pavel_quote {
  margin-top: 60px;
  font-size: 36px;
  font-family: 'Forum'
}

.pavel_name {
  margin: 0;
  padding-left: 100px;
}

.quote {
  text-align: right;
  border-right: 2px solid grey;
  color: #C9320F;
  font-size: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 100px;
  margin-top: 0px;
  line-height: 1;
}

.img_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.large_pic {
  max-width: 680px;
  width: 100%;
  display: block;
  margin-right: 100px;
}

.small_pic {
  max-width: 400px;
  width: 100%;
  display: block;
  font-family: 'Roboto Light';
  font-size: 14px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.small_pic > p {
  margin-top: 80px;
  border-left: 2px solid grey;
  padding-left: 20px;
  height: 70px;
  display: table-cell;
  vertical-align: middle;
}

.quote_box {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
}

.quote_box_mobile {
  display: none;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: flex-start;
  margin-top: 45px;
}

.quote_box_mobile > p {
  margin: 0;
  line-height: 1.4;
}

.quote_box > .left_quote {
  border-right: 2px solid grey;
  padding-right: 20px;
  width: 34%;
  margin-right: 30px;
}

.left_quote > p {
  margin: 0;
  line-height: 1.6;
}

.right_quote > p {
  margin: 0;
  line-height: 1.7;
}

.right_quote {
  width: 100%;
}

.about_footer {
  margin-top: 80px;
  border-right: 1px solid black;
  float: right;
  padding-right: 20px;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Roboto Light';
  font-size: 14px;
  text-align: right;
  line-height: 1.5;
}

.about_footer > p {
  line-height: 1.7;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* MEDIA QUERIES*/

@media (max-width: 425px) {
  .poster_heading {
    font-size: 34px;
    margin-top: 45px;
  }

  .poster_info {
    margin-top: 45px;
  }

  .text {
    font-size: 30px;
    margin-bottom: 45px;
  }

  .poster_container {
    display: block;
    justify-content: flex-start;
  }

  .poster_container > img {
    width: 100%;
  }

  .social {
    margin-top: 40px;
    margin-bottom: 45px;
  }

  #container {
    width: 90%;
  }

  .group_2 {
    display: block;
  }

  .left_col {
    margin-top: 0px;
    text-align: left;
  }

  .left_col > p {
    margin-bottom: 10px;
  }

  .pavel_quote {
    margin-top: 35px;
  }

  .pavel_name {
    margin: 0; padding-left: 0px;
  }

  .quote {
    text-align: left;
    border: none;
    margin-right: 0px;
    padding-right: 0px;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 30px;
  }

  .img_block {
    display: block;
    margin-top: 45px;
  }

  .small_pic {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .quote_box {
    margin-top: 45px;
    display: none;
  }

  .quote_box_mobile {
    display: block;
  }

  .about_footer {
    margin-top: 45px;
  }

}

@media (max-width: 1024px) and (min-width: 769px) {
  #container {
    width: 95%;
  }
}

/* END MEDIA QUERIES*/
